<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Lista psów</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1>Lista psów</h1>
    <a href="/" class="btn btn-primary">Strona główna</a>  <!-- Guzik do strony głównej -->
  <a href="/dogs/add" class="btn btn-success">Dodaj nowego psa</a>  <!-- Guzik dodający nowego psa -->

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Operacje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dog : ${dogs}">
      <td><a th:href="@{'/dogs/' + ${dog.dogId}}"><span th:text="${dog.name}"></span></a></td>
      <td>
        <form th:action="@{'/dogs/' + ${dog.dogId}}" method="post" class="d-inline">
          <input type="hidden" name="_method" value="delete"/>
          <button type="submit" class="btn btn-danger">Usuń</button>
        </form>
<!--        &lt;!&ndash; Guzik do aktualizacji psa &ndash;&gt;-->
<!--        <a th:href="@{'/dogs/update/' + ${dog.dogId}}" class="btn btn-primary ml-2">Aktualizuj</a>-->
      </td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>
